.hero {
  align-items: center;
  border-bottom: 1px solid var(--gray-500);
  display: flex;
  flex-direction: column;
  height: 24rem;
  justify-content: center;
  width: 100%;

  h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
}
