.info,
.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.info {
  align-items: flex-start;
  padding: 2rem 0;

  .item {
    margin: 1rem 2rem;

    p {
      color: var(--gray-500);
      font-size: 0.75rem;
      margin-bottom: 0.25rem;

      &:nth-of-type(2) {
        color: var(--gray-900);
        font-size: 2.25rem;
        font-weight: 600;
      }
    }
  }
}

.time {
  align-items: center;
  color: var(--gray-500);
  font-size: 0.75rem;
  padding-top: 3rem;
}

@media (min-width: 992px) {
  .info {
    align-items: center;
    flex-direction: row;
  }
}
